@import "smartphone.css";
dialog{
  max-height: 23em;
  max-width: 20em;
  background-color: black;
  color: #fff;
  margin-top: 1em;
  text-align: center;
  font-size: 26px;
}
.box{
  max-height: 23em;
  max-width: 20em;
  background-color: blue;
  color: #fff;
  margin-top: 10em;
  text-align: center;
  font-size: 26px;
}
.button1{
  width: 88%;
  margin: 27em 0em 0 1em;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.button2{
  width: 88%;
  margin: 30em 0 0 1em;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-transform:uppercase;
  color:yellow;
}
