@import "smartphone.css";
@import "nav.css";
footer{
  margin-top: -2em;
  height: 11%;
  margin-left: 4.9em;
  position: inherit;
  text-decoration: none;
}
span:first-child{
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
span:nth-child(2){
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
span:nth-child(3){
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
span:last-child{
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}
.container {
  position: relative;
}
h1{
  padding-top: 4px;
  text-align: center;
  font-size: 18px;
  color: #000;
}
img{
  width: 100%;
  height: 590px;
  background-repeat: no-repeat;
}

.food{
  position: absolute;
  top: 9em;
  font-size: 16px;
  background-color: #000;
  min-width: 100%;
  min-height: 89px;
  margin-bottom: 1em;
  text-align: center;
  opacity: 0.8;
}
a.button{
  padding: 12px 46px;
  color:#fff;
  background-color: #536DFE;
  border:2px white solid;
  border-radius: 8px;
  border: 4px solid;
  margin-left: 3em;
  margin-top: -12em;
  position: absolute;
  transition: 0.5s;
  display: inline-block;
}
a.button:hover{
  background-color: #fff;
  color: #536DFE;
  border-color: #536DFE;
}

.fa-user-circle{
  position: absolute;
  margin-top: -1.3em;
  margin-left: 9.4em;
  color: #000;
}
section p{
  color:#fff;
  font-family: Amaranth;
  font-size: 1rem;
  letter-spacing: 1px;
}
 dialog{
  position: absolute;
  color:blue;
  margin-top:-33em;
  cursor: pointer;
}
dialog:hover{
  background-color: #ddd;
  text-decoration: underline;
}
.foodbox{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
